/* Board */

.board {
    margin: 50px 0;
    /* pseudo elements used here because margin/padding does not scroll properly on board element. */
    /*
    &:before {
        content: '';
        display: block;
        height: $boardPadding;
    }

    &:after {
        content: '';
        display: block;
        height: $boardPadding;
    }
    */
}


/* Row */

.row {
    background-color: #FFFFFF;
    display: inline-block;
    white-space: nowrap;
    margin: 0 50px;
    padding: 1px;
}